body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:cornsilk;
}

a, u {
    text-decoration: none;
}


.container{
    margin: auto;
    width: 50%;    
}

#info-table {
    width: 100%;
}

#books-table{
    width: 70%;
}

#books-table th {
    text-align: left;
}