body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color:cornsilk;
}

a, u {
    text-decoration: none;
}


.container{
    margin: auto;
    width: 50%;    
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .container {
      width: 95%;
    }
  }

  #info-table {
    width: 100%;
}

#books-table{
    width: 70%;
}

#books-table th {
    text-align: left;
}

#lists-table{
    width: 100%;
}

#lists-table th {
    text-align: left;
    padding-bottom: 10px;
}

#writings-table{
    width: 100%;
}

#writings-table th {
    text-align: left;
    padding-bottom: 10px;
}